<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="maincontent">
          <h1 class="center">About</h1>
          <article class="post">
            <h2>个人简介</h2>
            <p>卫佳超,英文名daneil,现居上海,ruby程序员,擅长网站及API接口开发</p>
            <h2>经历</h2>
            <h3>2012-10~2013-7 一年嵌入式开发</h3>
            <h3>2013-08~至今 ruby</h3>
            目前在一家创业公司从事游戏后端开发，主要负责后端项目框架的选取搭建，API接口的开发测试，公司网站的维护
            <h2>足迹</h2>
            <h3>Github</h3>
            <a href="https://github.com/yumu01">https://github.com/yumu01</a>
            <h3>Ruby China</h3>
             <a href="https://ruby-china.org/yumu01">https://ruby-china.org/yumu01</a>
            <h3>联系我</h3>
            Email: 383466970@qq.com
          </article>
      </div>
    </div>
  </div>
</div>