<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  标题
  <div class="">
    <input id="post_title" name="post[title]" type="text"><br/>
  </div>
   内容：
  <div class="filed">
   
    <textarea id="post_content" name="post[content]" cols="100" rows="40">   
    </textarea>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>